<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">    

			<title>Index</title>

			<!-- Bootstrap core CSS -->
			<link href="css/bootstrap.css" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link href="css/style.css" rel="stylesheet">
			<link href="css/index.css" rel="stylesheet">
			<link href="css/font-awesome.min.css" rel="stylesheet">
			<link href="js/fancybox/jquery.fancybox.css" rel="stylesheet" />

			

		</head>

		<body>

			
			<nav class="navbar navbar-default navbar-fixed-top">
  				<div class="container-fluid">
    			<!-- Brand and toggle get grouped for better mobile display -->
    				<div class="navbar-header">
      					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
      					</button>
      					<a class="navbar-brand" href="#">Smart Track</a>
    				</div>

    				<!-- Collect the nav links, forms, and other content for toggling -->
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      					<ul class="nav navbar-nav pull-right">
        					<li>
        						<a href="/" class="home">Home</a>
        					</li>
							<li class="active">
								<a href="/about_us" class="about_us">About</a>
							</li>
							<li>
								<a href="/features" class="feature">Features</a>
							</li>
							<li>
								<a href="/services" class="service">Services</a>
							</li>
							<li>
								<a href="/contact" class="contact_us">Contact</a>
							</li>
							<li>
								<a href="/login" class="login">Login</a>
							</li>
							<li>
        						<a href="/create_account" class="create_account">Create Account </a>
        					</li>
      					</ul>
      
    				</div><!-- /.navbar-collapse -->
  				</div><!-- /.container-fluid -->
			</nav>

			<div id="aboutwrap">
				<div class="container">
					<div class="row">
					</div>			<!-- /row -->
				</div>				<!-- /container -->
			</div>					<!-- /aboutwrap -->



			<div id="about_us_div" class="col-lg-8">
				
					<div class="col-lg-12 name-desc">
						<h2>Our Stories, Our Values</h2>
						
						<div class="col-md-12">
							<p>Smart Track System optimizes security coverage and manages officer presence in real-time, capturing all of the data generated from day to day security operations. Managers deploy their assets, assign routes and track performance while security officers in the field use Smart Track Mobile devices to perform scheduled and self-initiated routes, scan checkpoints, create high quality incident reports and receive dispatches. The intuitive nature of the Smart Track Mobile device, available for Apple iOS, Android and Windows Mobile, boosts overall security performance while reducing costs and training time.</p>
						</div>
						<div class="col-md-12">
							<p>Any data produced is synchronized with Smart Track suite of product modules and made available to decision-makers in the form of managerial reports. This allows management to schedule employees, assign routes and track staff effectiveness through coverage reports. The user-friendly interface lets Managers and Supervisors create and edit master and daily rosters. Front line staff are able to input self-initiated activities, providing a summary of each guard's daily duty. </p>
						</div>
						
					</div>		<!--/col-lg-8-->
			
				</div>			<!-- /row -->
			
				<footer class="footer">
	        	<div class="footer-content">
		            <div class="container">
		                <div class="row">                    	                    
		                    <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
		                        <div class="footer-col-inner">
		                            <h3 class="title">Mobile apps</h3>
		                            <ul class="list-unstyled download-list">
		                                <li><a href="#" class="btn btn-ghost"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
		                            </ul>
		                        </div><!--//footer-col-inner-->
		                    </div><!--//download-->
		                    <div class="footer-col col-md-6 col-sm-12 col-xs-12">
		                        <div class="footer-col-inner">
		                            <h3 class="title">Contact us</h3>                          
		                            <p class="adr clearfix">
		                                <i class="fa fa-map-marker pull-left"></i>        
		                                <span class="adr-group pull-left">       
		                                    <span class="street-address">1 Washington Sq</span><br>
		                                    <span class="region">San Jose, CA 95192</span><br>
		                                </span>
		                            </p>
		                            <p class="tel"><i class="fa fa-phone"></i>408 646 9837</p>
		                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">vishal.k.chothani@gmail.com</a></p> 
		                        </div><!--//footer-col-inner-->
		                    </div><!--//contact-->
		                </div>
		            </div><!--//container-->
		        </div><!--//footer-content-->	        
		    </footer>
		
		
		
	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/classie.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/smoothscroll.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/fancybox/jquery.fancybox.js"></script>    
		<script src="js/main.js"></script>

		<style>
			#aboutwrap{
				min-height: 500px;
			}
			footer.footer {
			    background-color: #253340;
			    color: grey;
			    position: relative;
			    top: 200px;
			}
		</style>
			<script>
				$(window).on("scroll", function () {
    				if ($(this).scrollTop() > 20) {
        				$("nav.navbar").addClass("not-transparent");
        				$("nav.navbar").removeClass("transparent");
        				$(".navbar-default .navbar-nav > li > a").css("color","grey");
        				$(".navbar-default .navbar-nav > li.active > a").css("color","#EC6952");
				    }
				    else {
				        $("nav.navbar").removeClass("not-transparent");
				        $("nav.navbar").addClass("transparent");
				        $(".navbar-default .navbar-nav > li > a").css("color","white");
				        $(".navbar-default .navbar-nav > li.active > a").css("color","#EC6952");
				    }
				});
			</script>
			<script>
			$(function(){
				$.stellar({
					horizontalScrolling: false,
					verticalOffset: 40
				});
			});
			</script>
			
			<script type="text/javascript">
	      $(function() {
	        //    fancybox
	          jQuery(".fancybox").fancybox();
	      });
		   </script>

	  	</body>
	</html>
	
	
	
	
	
