<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8">
			<meta http-equiv="X-UA-Compatible" content="IE=edge">
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="">
			<meta name="author" content="">    

			<title>Index</title>

			<!-- Bootstrap core CSS -->
			<link href="css/bootstrap.css" rel="stylesheet">

			<!-- Custom styles for this template -->
			<link href="css/style.css" rel="stylesheet">
			<link href="css/index.css" rel="stylesheet">
			<link href="css/font-awesome.min.css" rel="stylesheet">
			<link href="js/fancybox/jquery.fancybox.css" rel="stylesheet" />

			

		</head>

		<body>
			
			<nav class="navbar navbar-default navbar-fixed-top">
  				<div class="container-fluid">
    			<!-- Brand and toggle get grouped for better mobile display -->
    				<div class="navbar-header">
      					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					        <span class="sr-only">Toggle navigation</span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
					        <span class="icon-bar"></span>
      					</button>
      					<a class="navbar-brand" href="#">Smart Track</a>
    				</div>

    				<!-- Collect the nav links, forms, and other content for toggling -->
    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      					<ul class="nav navbar-nav pull-right">
        					<li>
        						<a href="/" class="home">Home</a>
        					</li>
							<li>
								<a href="/about_us" class="about_us">About</a>
							</li>
							<li>
								<a href="/features" class="feature">Features</a>
							</li>
							<li class="active">
								<a href="/services" class="service">Services</a>
							</li>
							<li>
								<a href="/contact" class="contact_us">Contact</a>
							</li>
							<li>
								<a href="/login" class="login">Login</a>
							</li>
							<li>
        						<a href="/create_account" class="create_account">Create Account </a>
        					</li>
      					</ul>
      
    				</div><!-- /.navbar-collapse -->
  				</div><!-- /.container-fluid -->
			</nav>

			


			<div id="headerwrap">				
				<div class="container">
					<div class="row">						
					</div> 	<!-- /row -->
				</div>		<!--/container -->
			</div>			<!--/headerwrap -->
		
			<div id="about_us_div" class="col-lg-8">
				
					<div class="col-lg-12 name-desc">
						<h2>How Can Smart Track Help You?</h2>
						
						<div class="row mt">
						<div class="col-lg-6 service">
							<i class="fa fa-mobile"></i><p style="font-size: 22px;">Smart Track Devices</p><br/>
							<p>Smart Track's Guard Tour System leverages the latest smart phone technology, including</p>
								<ul>
									<li>Apple iPhone, iPod Touch & iPad</li>
									<li>Android</li>							
								</ul>
								<p>
								The Smart Track mobile application transforms these advanced devices by empowering security officers with Incident Reporting, Guard Tour, Security Dispatch and Post Orders modules. Officers can quickly snap photos from an incident scene, and upload an unlimited number directly to an incident report. Or, to fill a narrative section of a report, an officer can utilize the voice-to-text feature, which ensures the officer spends time providing security, rather than manually filing reports.</p>
						</div>
										
						<div class="col-lg-6 service">
							<i class="fa fa-book"></i><p style="font-size: 22px;">Coverage Maps & Reports</p>
							<p>Smart Track can map your facility and overlay checkpoints, officer routes and incident reports to quickly identify gaps in coverage. This feature allows managers or supervisors to easily adjust their deployment to match the current risk or threat. By analyzing and comparing incident and activity data with existing patrol routes and coverage, supervisors can create regular or ad hoc reports that assist in summarizing the effectiveness of current coverage and identify lapses or areas for improvement.</p>
						</div>
					</div>		<!--/row -->
					<div class="row mt">
						<div class="col-lg-6 service">
							<i class="fa fa-book"></i><p style="font-size: 22px;">Analysis & Reporting</p>
							<p>Like the entire Smart Track suite of software, the Guard Tour system captures and creates high quality security data that can be analyzed to extract business intelligence and inform better countermeasures. There are a variety of analysis tools built into the security guard software, plus data from Guard Tour can contribute to any number of reports created in the Security Analytics component of the greater Smart Track suite.
								<ul>
									<li>Checkpoint completions/percentages</li>
									<li>Guard tour duration</li>
									<li>Missed/skipped checkpoints</li>
									<li>Checkpoint status</li>
								</ul>
							</p>
						</div>
					</div>		<!--/row -->
						
					</div>		<!--/col-lg-8-->
			
				</div>			<!-- /row -->
			

			<footer class="footer">
	        	<div class="footer-content">
		            <div class="container">
		                <div class="row">                    	                    
		                    <div class="footer-col download col-md-6 col-sm-12 col-xs-12">
		                        <div class="footer-col-inner">
		                            <h3 class="title">Mobile apps</h3>
		                            <ul class="list-unstyled download-list">
		                                <li><a href="#" class="btn btn-ghost"><i class="fa fa-android"></i><span class="text">Download for Android</span></a></li>
		                            </ul>
		                        </div><!--//footer-col-inner-->
		                    </div><!--//download-->
		                    <div class="footer-col col-md-6 col-sm-12 col-xs-12">
		                        <div class="footer-col-inner">
		                            <h3 class="title">Contact us</h3>                          
		                            <p class="adr clearfix">
		                                <i class="fa fa-map-marker pull-left"></i>        
		                                <span class="adr-group pull-left">       
		                                    <span class="street-address">1 Washington Sq</span><br>
		                                    <span class="region">San Jose, CA 95192</span><br>
		                                </span>
		                            </p>
		                            <p class="tel"><i class="fa fa-phone"></i>408 646 9837</p>
		                            <p class="email"><i class="fa fa-envelope-o"></i><a href="#">vishal.k.chothani@gmail.com</a></p> 
		                        </div><!--//footer-col-inner-->
		                    </div><!--//contact-->
		                </div>
		            </div><!--//container-->
		        </div><!--//footer-content-->	        
		    </footer>
		
	    <!-- Bootstrap core JavaScript
	    ================================================== -->
	    <!-- Placed at the end of the document so the pages load faster -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="js/classie.js"></script>
	    <script src="js/bootstrap.min.js"></script>
	    <script src="js/smoothscroll.js"></script>
		<script src="js/jquery.stellar.min.js"></script>
		<script src="js/fancybox/jquery.fancybox.js"></script>    
		<script src="js/main.js"></script>

		<style>
			#aboutwrap{
				min-height: 500px;
			}
			footer.footer {
			    background-color: #253340;
			    color: grey;
			    position: relative;
			    top: 600px;
			}
		</style>
			<script>
				$(window).on("scroll", function () {
    				if ($(this).scrollTop() > 20) {
        				$("nav.navbar").addClass("not-transparent");
        				$("nav.navbar").removeClass("transparent");
        				$(".navbar-default .navbar-nav > li > a").css("color","grey");
        				$(".navbar-default .navbar-nav > li.active > a").css("color","#EC6952");
				    }
				    else {
				        $("nav.navbar").removeClass("not-transparent");
				        $("nav.navbar").addClass("transparent");
				        $(".navbar-default .navbar-nav > li > a").css("color","white");
				        $(".navbar-default .navbar-nav > li.active > a").css("color","#EC6952");
				    }
				});
			</script>
			<script>
			$(function(){
				$.stellar({
					horizontalScrolling: false,
					verticalOffset: 40
				});
			});
			</script>
			
			<script type="text/javascript">
	      $(function() {
	        //    fancybox
	          jQuery(".fancybox").fancybox();
	      });
		   </script>

	  	</body>
	</html>
